player-connection-mode=Connect
player-connection-guid=438104133
player-connection-debug=0
player-connection-project-name=CyberSec Escape Room
player-connection-wait-timeout=-1
player-connection-ip=192.168.56.1
player-connection-ip=192.168.23.1
player-connection-ip=192.168.231.1
player-connection-ip=192.168.0.27
profiler-enable=1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
profiler-enable-deep-profiling-support=1
build-guid=b3287f1ac14e4965b19f7959ff9630c2
