player-connection-mode=Connect
player-connection-guid=1145396408
player-connection-debug=0
player-connection-project-name=CyberSec Escape Room
player-connection-wait-timeout=-1
player-connection-ip=192.168.56.1
player-connection-ip=192.168.23.1
player-connection-ip=192.168.231.1
player-connection-ip=192.168.0.27
profiler-enable=1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=052079882fed46ea99c979209b0f660d
